body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;


}
header{
    width: 100%;
    background-color: #ffff;
    padding: 1em;
}
nav{
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
    width: 100%;
}

li{
    text-decoration: none;
    
}
body{
    background-color: #cbdade;
}

a{
    color:black;
    text-decoration: none;
        margin-right: 100px;
    font-family: monospace;
    font-size: 1.5em;
}

div{
    width: 100%;
}

h1{
    text-align: center;
    font-family: monospace;
    font-size: 4em;
}

div{
    width: 100%;
}
article{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 2em;
    font-family: monospace;
    font-size: 2em;
    
}
footer{
    width: 100%;
    background-color: black;
    color: grey;
    text-align: center;
    padding: 1em;
}

